@import '../base/variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');

// TYPE SYSTEM
body {
  font-family: map-get($mdc-typography-styles-body1, font-family);
  font-weight: map-get($mdc-typography-styles-body1, font-weight);
  font-size: map-get($mdc-typography-styles-body1, font-size);
  letter-spacing: map-get($mdc-typography-styles-body1, letter-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: $black;
}

h1 {
  font-family: map-get($mdc-typography-styles-headline1, font-family);
  font-weight: map-get($mdc-typography-styles-headline1, font-weight);
  font-size: map-get($mdc-typography-styles-headline1, font-size);
  letter-spacing: map-get($mdc-typography-styles-headline1, letter-spacing);
}

h2 {
  font-family: map-get($mdc-typography-styles-headline2, font-family);
  font-weight: map-get($mdc-typography-styles-headline2, font-weight);
  font-size: map-get($mdc-typography-styles-headline2, font-size);
  letter-spacing: map-get($mdc-typography-styles-headline2, letter-spacing);
}

h3 {
  font-family: map-get($mdc-typography-styles-headline3, font-family);
  font-weight: map-get($mdc-typography-styles-headline3, font-weight);
  font-size: map-get($mdc-typography-styles-headline3, font-size);
  letter-spacing: map-get($mdc-typography-styles-headline3, letter-spacing);
}

h4 {
  font-family: map-get($mdc-typography-styles-headline4, font-family);
  font-weight: map-get($mdc-typography-styles-headline4, font-weight);
  font-size: map-get($mdc-typography-styles-headline4, font-size);
  letter-spacing: map-get($mdc-typography-styles-headline4, letter-spacing);
}

h5 {
  font-family: map-get($mdc-typography-styles-headline5, font-family);
  font-weight: map-get($mdc-typography-styles-headline5, font-weight);
  font-size: map-get($mdc-typography-styles-headline5, font-size);
  letter-spacing: map-get($mdc-typography-styles-headline5, letter-spacing);
}

h6 {
  font-family: map-get($mdc-typography-styles-headline6, font-family);
  font-weight: map-get($mdc-typography-styles-headline6, font-weight);
  font-size: map-get($mdc-typography-styles-headline6, font-size);
  letter-spacing: map-get($mdc-typography-styles-headline6, letter-spacing);
}

.subtitle-1 {
  font-family: map-get($mdc-typography-styles-subtitle1, font-family);
  font-weight: map-get($mdc-typography-styles-subtitle1, font-weight);
  font-size: map-get($mdc-typography-styles-subtitle1, font-size);
  letter-spacing: map-get($mdc-typography-styles-subtitle1, letter-spacing);
}

.subtitle-2 {
  font-family: map-get($mdc-typography-styles-subtitle2, font-family);
  font-weight: map-get($mdc-typography-styles-subtitle2, font-weight);
  font-size: map-get($mdc-typography-styles-subtitle2, font-size);
  letter-spacing: map-get($mdc-typography-styles-subtitle2, letter-spacing);
}

.body-1 {
  font-family: map-get($mdc-typography-styles-body1, font-family);
  font-weight: map-get($mdc-typography-styles-body1, font-weight);
  font-size: map-get($mdc-typography-styles-body1, font-size);
  letter-spacing: map-get($mdc-typography-styles-body1, letter-spacing);
}

.body-2 {
  font-family: map-get($mdc-typography-styles-body2, font-family);
  font-weight: map-get($mdc-typography-styles-body2, font-weight);
  font-size: map-get($mdc-typography-styles-body2, font-size);
  letter-spacing: map-get($mdc-typography-styles-body2, letter-spacing);
}

.caption {
  font-family: map-get($mdc-typography-styles-caption, font-family);
  font-weight: map-get($mdc-typography-styles-caption, font-weight);
  font-size: map-get($mdc-typography-styles-caption, font-size);
  letter-spacing: map-get($mdc-typography-styles-caption, letter-spacing);
}

.overline {
  font-family: map-get($mdc-typography-styles-overline, font-family);
  font-weight: map-get($mdc-typography-styles-overline, font-weight);
  font-size: map-get($mdc-typography-styles-overline, font-size);
  letter-spacing: map-get($mdc-typography-styles-overline, letter-spacing);
  text-transform: uppercase;
}

p,
a {
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: normal;
  line-height: 20px;
}

a {
  color: #2e2e2e;
  text-decoration: none !important;
}

a:hover {
  color: $black;
  text-decoration: none;
}

a:active,
a:focus {
  color: $black;
  text-decoration: none;
}

.title {
  font-weight: normal;
  text-transform: initial;
  letter-spacing: 0.5px;
  line-height: 10px;
}

// TEXT VARIANTS AND COLORS
.text-roboto {
  font-family: $font-roboto;
}

.text-poppins {
  font-family: $font-poppins;
}

.text-primary {
  color: $theme-primary !important;
}

.text-secondary {
  color: $theme-secondary !important;
}

.text-success {
  color: $theme-success !important;
}

.text-warning {
  color: $theme-warning !important;
}

.text-danger {
  color: $theme-danger !important;
}