@import '../base/variables';

/* ---------------------------------------------------
    CARD
----------------------------------------------------- */
.card {
  background-color: $theme-surface-1dp;
  color: $theme-on-primary;
  border-radius: $border-radius-8;
  /* 1dp */
  box-shadow: $shadow-1dp;
  transition: $transition-cubic-bezier;

  &:hover {
    /* 8dp */
    box-shadow: $shadow-8dp;
  }

}

.card-header {
  background-color: $theme-surface-1dp;
  border-bottom: 1px solid transparent;
}

.card-header:first-child {
  border-top-left-radius: $border-radius-8;
  border-top-right-radius: $border-radius-8;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: $theme-surface-1dp;
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.card-footer:last-child {
  border-bottom-left-radius: $border-radius-8;
  border-bottom-right-radius: $border-radius-8;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: $border-radius-8;
  border-top-right-radius: $border-radius-8;
}

.card-square {
  border-radius: 0px;
}

.card-round {
  border-radius: 50px;
}

.card-outline {
  box-shadow: none !important;
  border: 1px solid $theme-surface-card-outline;

  &:hover {
    box-shadow: none;
  }
}

.card-static-elevation {
  /* 1dp */
  box-shadow: $shadow-1dp;

  &:hover {
    /* 1dp */
    box-shadow: $shadow-1dp;
  }

}